* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(234, 237, 240);
}

h1 {
  color: white;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 60px;
  margin: 5px 15px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

#trybewarts-forms-logo {
  height: 500px;
  padding: 50px;
}

.flex-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 20px;
  height: 100px;
}

/* Source: https://tableless.com.br/colocar-rodape-fixo-no-bottom/ */
footer {
  background-color: darkslategrey;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 500px;
  justify-content: space-between;
}

#input-name {
  border: 1px solid white;
  margin: 5px;
}

#input-lastname {
  border: 1px solid white;
  margin: 5px;
}

#input-email {
  border: 1px solid white;
  margin: 5px;
}

#house {
  margin: 5px;
}

#family {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#prog {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}

#evaluation {
  width: 675px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

/* Source: */

/* https://pt.stackoverflow.com/questions/177917/como-desabilitar-o-resize-do-textarea */
#textarea {
  resize: none;
  height: 90px;
  width: 675px;
}

#coments {
  display: flex;
  flex-direction: column;
}

#agree {
  width: 675px;
  margin: 20px;
}
