* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(234, 237, 240);
}

h1 {
  color: white;
}

h2 {
  font-size: 30px;
  margin: 1rem auto;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 60px;
  margin: 5px 15px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

main {
  display: flex;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

#trybewarts-forms-logo {
  height: 500px;
  padding: 50px;
}

.flex-col {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 100px;
  margin-right: 100px;
}

/* Source: https://tableless.com.br/colocar-rodape-fixo-no-bottom/ */
footer {
  background-color: darkslategrey;
  color: white;
  margin-top: 1rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.div-inputs {
  margin: 0 0.5rem;
  flex-wrap: wrap;
  width: 500px;
  justify-content: flex-start;
}

.input {
  border: 1px solid white;
  margin: 5px;
}

#family {
  text-align: center;
  width: 40%;
}

#content {
  width: 60%;
}

#prog {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}

/* #evaluation {
  width: 675px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
} */

/* Source: */

/* https://pt.stackoverflow.com/questions/177917/como-desabilitar-o-resize-do-textarea */
#textarea {
  resize: none;
  height: 90px;
  width: 675px;
}

#coments {
  display: flex;
  flex-direction: column;
}

#agree {
  width: 675px;
  margin: 20px;
}

#login {
  margin: 5px;
}

#submit-btn {
  width: 675px;
}


.flex-item {
  flex: 1;
  margin: 0.5rem;
  padding: 0.3rem;
}

.width-inherit {
  width: inherit;
}

.form-check-inline {
  margin-right: 0;
}
